name: Docs

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  docs:

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v3
    - name: Cache ffmpeg
      uses: actions/cache@v3
      with:
        path: |
          ./ffmpeg
        key: ${{ runner.os }}-ffmpeg-${{ hashFiles('**/deps_*.sh') }}
    - name: Deps
      run: bash ./scripts/deps_ci.sh
    - name: Build vidformer docs
      run: cargo doc --no-deps -p vidformer
    - name: Install mdbook
      run: cargo install mdbook
    - name: Build mdbook
      run: pushd docs && mdbook build && popd
    - name: Install vidformer-py # needed to import dependencies when building docs
      run: pip3 install ./vidformer-py
    - name: Install pdoc
      run: pip3 install pdoc
    - name: Build pdoc
      run: pushd vidformer-py/ && pdoc vidformer/ -o ../target/doc/vidformer-py/ && popd
    - name: Assemble site
      run: |
        cp -r misc/landing-page/* target/doc/
        mkdir -p target/doc/docs
        cp -r docs/book/* target/doc/docs/
        mkdir -p target/doc/playground
        cp -r misc/playground/* target/doc/playground/
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./target/doc
        publish_branch: gh-pages
        force_orphan: true
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        commit_message: 'Deploy docs'
